body {
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
  color: #1f2937;
}

.tab-button.active {
  background-color: #3b82f6;
  color: white;
  font-weight: 600;
}

.mobile-tab-button.active {
  background-color: #eff6ff;
  color: #3b82f6;
  font-weight: 600;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 500px;
  text-align: left;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#jurnal-input-table input,
#jurnal-input-table select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  /* Cool Gray 300 */
  border-radius: 0.375rem;
  transition: all 0.2s ease-in-out;
}

#jurnal-input-table input:focus,
#jurnal-input-table select:focus {
  border-color: #3b82f6;
  /* Blue 500 */
  box-shadow: 0 0 0 2px #bfdbfe;
  /* Blue 200 */
  outline: none;
}

#jurnal-input-table th {
  background-color: #f9fafb;
  /* Cool Gray 50 */
}

.input-error {
  border-color: #ef4444 !important;
  /* Red 500 */
  background-color: #fee2e2 !important;
  /* Red 100 */
}

.chart-container {
  position: relative;
  height: 350px;
  width: 100%;
  max-width: 450px;
  margin: 1rem auto;
}

.gemini-button .fa-spin {
  display: none;
}

.gemini-button.loading .fa-spin {
  display: inline-block;
}

.gemini-button.loading .btn-text {
  display: none;
}

.gemini-response-content {
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 1rem;
}

.stock-subtab-button {
  border-bottom-width: 2px;
  border-color: transparent;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-medium: 500;
  color: #6b7280;
  /* text-gray-500 */
}

.stock-subtab-button:hover {
  color: #374151;
  /* text-gray-700 */
  border-color: #d1d5db;
  /* border-gray-300 */
}

.stock-subtab-button.active-subtab {
  border-color: #3b82f6;
  /* border-blue-500 */
  color: #2563eb;
  /* text-blue-600 */
}